* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
  width: 2800px;
}
.tree{
  width: 8%; 
}
.navtree{
	width:3500px;
}
.wrapperc {
  width: 1340px;
  padding-left: 250px;
  transition: width 0.2s;
}
.navbar {
  width: 2580px;
  height: 70px;
}
.navbar .menuslide {
  width: 70px;
  height: 30px;
  padding: 20px;
  float: left;
  background-color: pink;
  cursor: pointer;
}
.navbar .menuslideadmin{
	float:left;
  background-color: pink;
  cursor: pointer;
}
.navbar .menuslide .lines {
  width: 70px;
  height: 3px;
  background-color: #000;
  margin-bottom: 7px;
}
.navbar .sl {
  width: 100%;
  height: 70px;
  background-color: navy;
}
.navbar .sl .search {
  width: 80%;
  height: 70px;
  background-color: slategrey;
  display: inline-block;
}
.navbar .sl .search form {
  margin-left: 400px;
}
.navbar .sl .logout {
  width: 145px;
  height: 70px;
  background-color: yellow;
  display: inline-block;
  float: right;
}
.sidebar {
  width: 200px;
  height: 1240px;
  background-color: purple;
  float: left;
  
  
  display: inline-block;
  transition: width 0.2s;
}
.sidebar .baza {
  width: 200px;
  height: 40px;
  background-color: yellow;
  border-bottom: 2px solid red;
  text-align: center;
  color: red;
  transition: width 0.2s;
}
.sidebar .baza:hover {
  background-color: red;
  color: yellow;
}
.sidebar ul {
  margin-bottom: 30px;
}
.content {
  width: 2500px;
  height: 2580px;
  padding: 10px;
  position: relative;
  /*background-color: #ddd;*/
  display: inline-block;
  /*float: right;*/
  transition: width 0.2s;
}
.pagsus{
	float:left;
	width:30px;
	margin-left:25px;
}
.editp{
	width:500px;
	float:left;
/*	background-color:#aeaeae;
	position:absolute;*/
}

.clonform{
	display:none;
/*	position:absolute;*/
	float:left;
	/*background-color:#aeaeae;*/
/*	left:600px;
	top:10px;*/
}
.clear{
clear:both;
}
.eIn{
	width:400px;
}
.tabel,
.tabelComenzi {
  display: table;
  margin: 0 auto;
  padding: 0;
  transition: width 0.2s;
}
.tabel div .print,
.tabelComenzi div .print {
  margin-left: 10px;
}
.tabel .row,
.tabelComenzi .row {
  display: inline-block;
}
.tabel .row div,
.tabelComenzi .row div {
  float: left;
  text-align: center;
  border: 0px solid #000;
}
.tabel .row #id,
.tabelComenzi .row #id {
  width: 30px;
  background-color: orange;
}
.tabel .row #status,
.tabelComenzi .row #status {
  width: 50px;
  background-color: purple;
}
.tabel .row #tipcont,
.tabelComenzi .row #tipcont {
  width: 70px;
  background-color: purple;
}
.tabel .row #codprod,
.tabelComenzi .row #codprod {
  width: 120px;
  background-color: #6fd691;
}
.tabel .row #pret,
.tabelComenzi .row #pret {
  width: 50px;
  background-color: #6fd691;
}
.tabel .row #numeprod,
.tabelComenzi .row #numeprod {
  width: 200px;
  background-color: #6fd691;
}
.tabel .row .li3,
.tabelComenzi .row .li3 {
  width: 150px;
  background-color: purple;
}
.tabel .row .li4,
.tabelComenzi .row .li4 {
  width: 70px;
  background-color: #6fd691;
}
.tabel .row .li5,
.tabelComenzi .row .li5 {
  width: 100px;
  background-color: #6fd691;
}
.tabel .row .li6,
.tabelComenzi .row .li6 {
  width: 150px;
  background-color: #6fd691;
}
.tabel .dropd,
.tabelComenzi .dropd {
  display: none;
  width: 2600px;
  background-color: #aeaeae;
  padding: 10px;

}
.lcprod {
  cursor: pointer;
}
.tited{
  font-size: 16px;
  font-weight: bold;
  
}
/*.sbinput {
  display: inline-block;

}*/
.tabelComenzi {
  width: 2000px;
}
.detcontainer{
  height: 600px;
}
.row{
  width: 3600px;
}

.comenzi , .statp{
  background-color: #6fd691;
}

.datacom{
    width: 7%;
}
.cid{
    width: 3%;
    background-color: #FFA500;
}
.colmic{
  width: 5%;
}
.colmare{
  width: 10%;
}
.comid{
    width: 4%;
}
.memid{
    width: 7%;
}
.nrfac{
    width: 4%;
}
.tf{
  width: 4%; 
}
.stcom{
  width: 7%;
}
.stpl{
  width: 7%; 
}
.stt{
 width: 7%; 
}
.metpl{
  width: 7%;
}
.metlv{
  width: 7%;
}
.rp{
  width: 3600px;
}
.mp{
  display: inline-block;
  color: #663047;
}
.tm{
  color: #311432; 
}
.mr{
  margin-left: 40px;
}
.memr{
  background-color: #6fd691;
  
}
.pop,.popdisc, .popasc, .poparata{
	width:300px;
	height:200px;
	background-color:#098ead;
	position:absolute;
	z-index: 80000;	
	display: none;
	margin-left:600px;
	margin-top:300px;
	
}
.pop > p , .pop > a , .popasc > p , .popasc > a, .poparata > p ,.poparata > a{
	text-align:center;	
	font-size:37px;
	color:#fff;
}
.popdadisc,.popda , .popdaasc, .popdaarata{
	text-align:center;
	padding:20px;
	border:1px solid #fff;
	float:left;
}
.popnudisc,.popnu, .popnuasc, .popnuarata{
	text-align:center;
	padding:20px;
	border:1px solid #fff;
	float:right;
}
.pozatab{
	width:100px;
}
.colmicp{
	width:3%;
	
}
.colmarep{
	width:7%;
}
.coldata{
	width:3%;
}
.cidp{
	width:2%;
	background-color:#ffa500;
}
.tabmem{
	width:2000px;	
}
/*# sourceMappingURL=dashboard.css.map */
@media print{
	.no-print{
		display:none !important;
	}
}
.ascundeopt, .arataopt,.listareopt{
	position:absolute;
	margin-top:20px;	
}
.listareopt{
	margin-left:65px;
}
.thumbpic{
	width:100px;
	height:100px;
	cursor:pointer;
}
.thumbpic:hover{
	width:95px;
	height:95px;
}
.totalst{
	margin-top:56px;
}

.discwrapper{
	width:1100px;
	background-color:#f2abab;
}

.discperce{
	width:450px;
	background-color:#098ead;
	float:right;
	display:none;
}

.discnumeprod , .disccodprod{
	width:90%;
}

.discmem{
	margin-top:10px;
	background-color:#c7f473;
	width:100%;
	text-align:center;
}

.discmem > a{
	float:right;
}

.seteazadisc{
	display:none;
	margin:0 auto;
}

.discimgprod{
	width:250px;
	height:200px;
}
.discpret{
	width:300px;
	height:100px;
	float:right;
	background-color:#f5811e;
}
.discpret > input ,  {
	margin:0 auto;
	display:block;
}
.discpret > h5{
	text-align:center;
}
.discmemerror{
	background-color:red;
	color:white;
	width:100%;
}
.disccodprod{
	text-align:center;
}
.discerror  {
	background-color:red;
	color:white;
	width:600px;
}

.discprod{
	margin-top:10px;
	width:600px;
	background-color:#c7f473;
}

.delCodp{
	width:50px;
	float:right;
}


