.nav-center {
  text-align: center;
}
.nav-center ul.nav {
  display: inline-block;
}
.nav-center ul.nav li {
  display: inline;
}
.nav-center ul.nav li a {
  float: left;
  padding: 10px/* 25px 10px 25px*/;
  margin: 0 10px 0 10px;
}
#user {
  float: right;
  margin-top: 45px;
  position: relative;
}
#user li {
  display: inline-block;
}
#user div {
  display: block;
  float: left;
}
#user .butcos {
  position: static;
}
#user .cosb {
  list-style: none;
}
#user .cosb:hover .cart {
  display: block;
}
#user .cart {
  left: 0;
  display: none;
  width: 414px;
  overflow-y: scroll;
  margin-right: 600px;
  z-index: 2000;
  float: right;
  position: absolute;
  height: 250px;
  background-color: #098ead;
}
#user .cart .itemcnoajax,
#user .cart .itemc {
  position: relative;
  z-index: 2000;
  width: 100%;
  height: 60px;
  background-color: #098ead;
  border-bottom: 1px solid #000;
  color: #fff;
}
.itemca{
  color: #fff; 
}
.itemca:hover{
 color:#f5811e; 
}
#user .cart .cnume {
  width: 65%;
  padding-top: 10px;
}
#user .cart .cqty {
  width: 12%;
  padding-top: 20px;
}
#user .cart .cpret {
  width: 14%;
  padding-top: 10px;
}
#user .cart .ic {
  text-align: center;
}
#user .cart .cdel img,
#user .cart .cdelr img {
  margin-top: 17px;
  margin-left: 5px;
}
#user .cart .fincomanda,
#user .cart .fincomandanoajax {
  position: relative;
  width: 100%;
  bottom: 0;
  height: 40px;
  text-align: center;
}
#user .cart .fincomanda a,
#user .cart .fincomandanoajax a {
  position: absolute;
  width: 397px;
  left: 0;
  height: 40px;
  padding-top: 7px;
  background-color: #098ead;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
#user .cart .fincomanda a:hover,
#user .cart .fincomandanoajax a:hover {
  background-color: #f5811e;
}
#upic {
  width: 50px;
}
#ucos {
  width: 50px;
}
#da li {
  display: inline;
}
/*#nu li{	
	display: inline;		
}
#da , #nu{
	display: inline-block;
}*/
#nav {
  position: relative;
  background-color: #f5811e;
}
#nav #brand {
  width: 25px;
  margin-bottom: 20px;
}
.navbar-brand {
  padding-top: 8px;
}
#abrand:hover {
  background-color: #fff;
  border-radius: 2px ;
}
#abrand:hover img {
  border: 1px solid #f5811e;
}
#sidebar {
  padding-right: 10px;
}
#sidebar input {
  width: 11px;
}
#sidebar h5 {
  margin-bottom: 0px;
}
#sidebar select {
  font-size: 13px;
}
#sidebar label {
  font-size: 13px;
}
#sidebar .radio {
  margin-top: 0;
  margin-bottom: 0;
}
#sidebar .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
#content .indnou {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0px;
}
#content .product {
  display: inline-block;
}
.product {
  margin-left: 5%;
}
/*#reclame{
	border:4px solid #f5811e;
	border-left: none;
	border-radius: 4px;
	height: 200px;
	background-color: orange;	
}*/
.foter {
  margin-top: 10px;
}
.foter .foot {
  background-color: #f5811e;
  /*height: 250px;    TEMP*/
  height: 43px;
}
.carousel {
  background-color: #66042D;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 30px;
  
}

.carousel-control{
  width: 3%;
}



#myCarousel2{
  background-color:#66042D;
}

#myCarousel > h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  color: #f5811e;
}
#myCarousel2 > h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  color: #f5811e; 
}
.navb {
  height: 70px;
  padding: 0;
}
.navb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f5811e;
}
.navb ul li {
  display: block;
  position: relative;
  float: left;
  background: #f5811e;
  font-size: 16px;
  z-index: 900;
}
.navb li ul {
  display: none;
}
.navb ul li a {
  display: block;
  padding: 1.2em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
.navb li .menu1 {
  display: none;
}
.navb ul li a:hover {
  background: #098ead;
}
.navb li:hover > ul {
  display: block;
  position: absolute;
}
.navb li:hover > .menu1 {
  display: block;
  position: absolute;
  width: 800px;
  height: 520px;
  background-color: #098ead;
}
.navb li:hover li {
  float: none;
}
.navb li:hover a {
  background: #098ead;
}
.navb li:hover li a:hover {
  background: #fff;
  color: #f5811e;
}
.navb .main-navigation li ul li {
  border-top: 0;
}
.navb ul ul ul {
  left: 100%;
  top: 0;
}
.navb ul ul .menu1 {
  left: 100%;
  top: 0;
}
.navb ul:before,
.navb ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.navb ul:after {
  clear: both;
}
.navb .colm {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
.navb .colm .colmp {
  display: block;
  background-color: #098ead;
  width: 230px;
}
.navb .colm .colmp.titlu {
  font-weight: bold;
  color: #f5811e;
  font-size: 16px;
  text-shadow: 1px 0 0 #666666;
}
.navb .lvl1 {
  font-size: 14px;
  font-weight: bold;
  width: 217px;
}
.navb .lvl1.service {
  width: 300px;
}
#content .prod {
  position: relative;
  display: inline-block;
  height: 560px;
  float: left;
  margin: 0;
  border: 1px solid #aeaeae;
}
#content .prod img {
  margin-left: 20px;
  margin-top: 15px;
}
#content .prod .br {
  display: block;
  margin: 0 auto;
}
#content .prod .noimg {
  height: 146px;
}
#content .prod .titlu {
  height: 100px;
  font-size: 14px;
  text-align: center;
}
#content .prod .pret p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #f5811e;
}
#content .prod .codprod {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #098ead;
}
.demop{
font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #f5811e;
}
#content .prod .demop p{
	margin:0px;
}
#content .prod .statokprod {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #6fd646;
}
#content .prod .statokprod p {
  margin:0px;
}
#content .prod .statredprod {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fce916;
}
#content .prod .statredprod p {
  margin:0px;
}
#content .prod .statindiprod {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fc4444;
}
#content .prod .statindiprod p {
 margin:0px; 
}
#content .prod .statsoonprod {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #9866c5;
}
#content .prod .statsoonprod p {
 margin:0px; 
}

#content .prod .but {
  margin-left: 4em;
  margin-bottom: 10px;
}
#content .prod .but .adauga {
  margin: 0 auto;
  display: block;
}
#content .prod .but a {
  text-decoration: none;
}
#content .prod .qty {
  width: 60px;
  text-align: center;
}
#content .prod .qtygroup {
  margin-left: 25%;
}
#content .prod .qtygroup input {
  /*display: inline-block;*/
  float: left;
}

#content .prod .qtygroup .plusmin {
  width: 40px;
}
#content .pages {
  display: block;
}
.fincom {
  margin-bottom: 10px;
}
.fincom .comimg {
  width: 70px;
  display: inline-block;
  margin-top: 10px;
}
.fincom .comimg img {
  width: 70px;
}
.fincom .comprod {
  width: 43%;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}
.fincom .comcod{
    width: 6%;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;  
}
.fincom .comqty {
  text-align: center;
  width: 16%;
  display: inline-block;
  margin-top: 10px;
}
.fincom .compretbuc {
  width: 10%;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}
.fincom .compretbuc p {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
}
.fincom .compretbuc .pretbuc {
  margin-left: 5px;
}
.fincom .comtotal {
  width: 11%;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px; 
  text-align: center;
}
.fincom .comtotal p {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.fincom .comtotal .ptotal {
  margin-left: 20px;
  text-align: center;
}
.fincom .comsterge {
  display: inline-block;
  margin-left: 5px;
}
.fincom .comsterge img {
  width: 30px;
}
.fincom .comanda,
.fincom .comandas {
  width: 150px;
  display: inline-block;
  float: right;
  margin-top: 5px;
}
.fincom .tit {
  text-align: center;
  font-size: 16px;
  color: #098ead;
  font-weight: bold;
}
.fincom .comtitle {
  display: inline-block;
  width: 100%;
}
.fincom .qtyfin {
  width: 60px;
  text-align: center;
}
.fincom .newqtyfin {
  width: 60px;
  text-align: center;
}
.fincom .qtygroupfin {
  margin-left: 45px;
  width: 71.5%;
}
.fincom .qtygroupfin input {
  display: inline-block;
  float: left;
}
.fincom .qtygroupfin .plusminfin {
  width: 40px;
}
.fincom .rowitem {
  border-top: 1px solid #aeaeae;
}
.fincom .totalp {
  border-bottom: 1px solid #ddd;
}
.fincom .totalp .tp,
.fincom .totalp .tpc,
.fincom .totalp .tpunit {
  display: inline-block;
  color: #f5811e;
  margin-left: 5px;
  float: right;
}
.fincom .totalp h4 {
  display: inline-block;
}
.fincom .totalp .totptit {
  color: #098ead;
}
.fincom .datepers {
  border-top: 1px solid #aeaeae;
  margin-top: 10px;
}
.fincom .datepers h4 {
  color: #f5811e;
}
.fincom .datepers .bolddate {
  color: #098ead;
}
.fincom .datepers .datef {
  border-left: 1px solid #aeaeae;
}
.fincom .datepers div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fincom .adrese {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
}
/*.fincom .adrese .facturarea {
  border-left: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;
}*/
.sediua,.facturarea{
  border-right: 1px solid #aeaeae; 
}
.fincom .adrese div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fincom .adrese h4 {
  color: #f5811e;
}
.fincom .adrese .bolddate {
  color: #098ead;
}
.fincom .optiuniplata {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
}
.fincom .optiuniplata h4 {
  color: #f5811e;
}
.fincom .optiuniplata .metplata,
.fincom .optiuniplata .metliv,
.fincom .optiuniplata .tipfac {
  padding-top: 50px;
  padding-bottom: 50px;
}
.metplata{
  border-right: 1px solid #aeaeae;
}
.fincom .optiuniplata label {
  cursor: pointer;
  color: #098ead;
}
.fincom .optiuniplata .metplata {
  height: 450px;
}
.fincom .optiuniplata .metplata small {
  color: #aeaeae;
  font-size: 12px;
}
.fincom .optiuniplata .metplata .small {
  margin-left: 5px;
}
.fincom .optiuniplata .tipfac {
  height: 450px;
}
.fincom .optiuniplata .metliv {
  height: 450px;
/*  border-left: 1px solid #aeaeae;*/
  border-right: 1px solid #aeaeae;
}
.fincom .optiuniplata .metliv small {
  color: #aeaeae;
  font-size: 12px;
}
.fincom .optiuniplata .metliv .small {
  margin-left: 5px;
}
.fincom .optiuniplata .form-group {
  display: none;
}
.fincom .mentotcump h4 {
  color: #f5811e;
  text-align: center;
}
.fincom .mentotcump .mentiune {
  border-right: 1px solid #aeaeae;
  padding-bottom: 10px;
}
.fincom .mentotcump{
  border-bottom: 1px solid #aeaeae;
}
.fincom .mentotcump #mentiuniarea {
  width: 350px;
  height: 150px;
  resize: none;
  display: block;
  margin: 0 auto;
}
.fincom #tcon {
  margin-top: 10px;
}
.fincom .inapoicump {
  margin-top: 10px;
  margin-left: 40%;
}
.datetotal {
  border-top: 1px solid #aeaeae;
}
.datetotal .tsus {
  margin-left: 70%;
}
.datetotal .inapoicumpsus {
  margin-left: 70%;
  margin-top: 10px;
}
.datetotal .comandasus {
  margin-top: 5px;
}
.mininav a {
  float: right;
  margin-left: 10px;
}
.facd {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #000;
}
.fact {
  text-align: center;
  font-weight: bold;
  color: #098ead;
  font-size: 16px;
}
.fcm {
  margin-bottom: 200px;
}
.progress.active .progress-bar {
  transition: none !important;
}
.brit{
       
		height:40px; 
    }

.fsstit{
  color:#098ead;
}

.foter{
	height:40px;
}
.oblique{
  position:absolute;
  right: 10px;
  top:10px;
  font-size: 20px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
input{
  font-weight: bold;
}
/*# sourceMappingURL=home.css.map */
.fact{
  display: inline-block;
}
.nrcrtd,.nrcrti{
  width: 5%;
}
.dti,.dtd{
  width: 12%;
}
.nrcmdi,.nrcmdd{
  width: 9%;
}
.faci,.facid{
  width: 13%; 
}
.nrcmdd:hover{
  background-color: #098ead;
  color: #fff;  
}
.facid:hover{
  background-color: #098ead;
  color: #fff;  
}
.toti,.totd{
  width: 10%;
}
.stati{
  width:16%;
}
.spi{
  width:16%; 
}
.sti{
  width:16%;  
}
.mp{
  cursor: pointer;
}

.promcar{
  background-color: #dee3e3;
  border:1px solid #66042D;
}
.noucar{
  background-color: #dee3e3;
  border:1px solid #dee3e3;   
}
.noucarimg{
  border:1px solid #f5811e;
  width: 70%;
  height: 107px;
  display: block;
  margin:0 auto;
}
.cartit{
  width: 90%;
  height: 150px;
  display: block;
  margin:0 auto;
  
  color: #f5811e;
  text-align: center;
}
.carcod{
  width: 60%;
  display: block;
  margin:0 auto;
  color: #f5811e;
  text-align: center; 
}
.carpret{
  width: 70%;
  display: block;
  margin:0 auto;
  color: #098ead;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.carcos{
  width: 50%;
  display: block;
  margin:0 auto;
}
.slick-prev:before, .slick-next:before { 
    color:#f5811e !important;
}
.cartitprez{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  color: #098ead;
  text-align: center;
  background-color: #d3dbdb;
  margin-bottom: 0px; 
}
.pasi{
  display: none;
  color: #000;
  float:right;
}
.pprod{
  width:400px;
}
.bprod{
  color:#098ead;

}

.sprodn{
  color:#f73d3d;
}
.sprod{
  color:#f5811e;
}
.sprodd{
  color:#6fd646;
  font-size:14px;
}
.disps{
  background-color: #098ead;
  color: #fff;
}

.dispprod{
  color:#f5811e;
}
.dispn{
  color:#fc4444;
  font-size:14px;
}
.dispd{
  color:#6fd646;
  font-size:14px;
}
.dispc{
  color:#9866c5;
  font-size:14px;
}
.dispr{
  color:#fce916;
  font-size:14px;
}
.symbol{
  margin-left: 5px;
}
.piccar{
  margin-top: 10px;
  margin-left:5px;
  padding: 0;
}
.pselect{
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
}
.desc{
  margin-top: 10px;
}
.qtygroupmare{
  display: inline-block;
  float: left;
  padding: 0;
}
.salut{
  font-weight: bold;
  font-size: 14px;
  color: #098ead;
  margin-top: 10px;
}
.bsalut{
  font-size: 16px;
  text-shadow:1px -1px #aeaeae;
}
.desc{
  color: #098ead;
}
.dettx{ color: #f5811e;font-size: 14px;font-weight: bold;}
.box-det{
  border:1px solid #eaeaea;
  border-bottom: none;
}
.box-cul,.box-dim,.box-tip{
  border-left:  1px solid #eaeaea;
  border-right:  1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.box-at{
  border:1px solid #eaeaea;
}
.poza{
	height:146px;
	width:200px;
	margin-left:30%;	
}
.sss{
	margin-left:20%;
}
.culoare p{display: inline;}
.ctext ,.ttext,.dtext{color: #f5811e;font-size: 14px;font-weight: bold;}
.dimensiune p{display: inline;}
.tipamb p{display:inline;}
.atentie p{display:inline;color: #f73d3d;font-size: 14px;font-weight: bold;}    
.tercon{
	margin-bottom:0;
}

.vp{	
	display:none;
	z-index:10000;
	position:absolute;	
	left:35%;
	top:50%;
	font-size:24px;
	
	color:#098ead;
}
.imgyes{
	cursor:pointer;
	position:relative;
}
.imgyes:hover {
	opacity:0.9;
}
.imgyes:hover > .vp {
	display:block;
	
}



.mod-img{
	width:700px;
	display:block;
	margin:0 auto;
	padding:0;
	
}
