/* Culori Cellmall */
.top-bar-desk {
  background: none;
  border: none;
  margin-bottom:0;
}
.desk-nav {
  margin-top: 10px;
  font-size: 1.1em;
  z-index: 1000;
}
.desk-nav .nav-user {
  float: right;
}
.desk-nav .nav-user .contmeu,
.desk-nav .nav-user .cosmeu {
  padding: 1em;
}
.desk-nav .nav-user .contmeu a,
.desk-nav .nav-user .cosmeu a {
  font-size: 1em;
  color: #ffffff;
  padding: 1em;
  text-decoration: none;
}
.desk-nav .nav-user .contmeu a:hover,
.desk-nav .nav-user .cosmeu a:hover {
  background-color: #098ead;
}
.desk-nav .nav-user .cos {
  width: 500px;
  height: 500px;
  right: 0;
  background-color: #098ead;
  overflow-y: scroll;
}
.desk-nav .nav-user .cos .fin-comanda {
  background-color: #f5811e;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.desk-nav .nav-user .cos .fin-comanda:hover {
  background-color: #fff;
  color: #f5811e;
}
.desk-nav .nav-user .cos .item-cos,
.desk-nav .nav-user .cos .item-cos-ajax {
  background-color: #098ead;
  border-bottom: 1px solid #ffffff;
  padding:0;
}
.desk-nav .nav-user .cos .item-cos a,
.desk-nav .nav-user .cos .item-cos-ajax a {
  padding: 0;
 
}
.desk-nav .nav-user .cos .item-cos a:hover,
.desk-nav .nav-user .cos .item-cos-ajax a:hover {
  background-color: #098ead;
  color: #f5811e;
}
.desk-nav .nav-user .cos .item-cos .statcos,
.desk-nav .nav-user .cos .item-cos-ajax .statcos,
.desk-nav .nav-user .cos .item-cos .statcos-ajax,
.desk-nav .nav-user .cos .item-cos-ajax .statcos-ajax {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.desk-nav .nav-user .cos .item-cos .statcos p,
.desk-nav .nav-user .cos .item-cos-ajax .statcos p,
.desk-nav .nav-user .cos .item-cos .statcos-ajax p,
.desk-nav .nav-user .cos .item-cos-ajax .statcos-ajax p{
 display:inline-block;
}
.desk-nav .nav-user .cos .item-cos .cosbuc,
.desk-nav .nav-user .cos .item-cos-ajax .cosbuc,
.desk-nav .nav-user .cos .item-cos .cosbuc-ajax,
.desk-nav .nav-user .cos .item-cos-ajax .cosbuc-ajax {
  width: 11%;
  text-align: center;
}
.desk-nav .nav-user .cos .item-cos .cosnume,
.desk-nav .nav-user .cos .item-cos-ajax .cosnume,
.desk-nav .nav-user .cos .item-cos .cosnume-ajax,
.desk-nav .nav-user .cos .item-cos-ajax .cosnume-ajax {
  width: 65%;
}
.desk-nav .nav-user .cos .item-cos .cossterge,
.desk-nav .nav-user .cos .item-cos-ajax .cossterge { 
 padding:0; 
}
.desk-nav .nav-user .cos .item-cos .cossterge img,
.desk-nav .nav-user .cos .item-cos-ajax .cossterge-ajax img{ 
 margin-left:8px; 
}
.desk-nav .nav-user .cos .item-cos .coscant,
.desk-nav .nav-user .cos .item-cos-ajax .coscant-ajax {
  width: 22%; 
}
.desk-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f5811e;
}
.desk-nav ul li {
  display: block;
  position: relative;
  float: left;
  background: #f5811e;
}
.desk-nav li ul {
  display: none;
}
.desk-nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
}
.desk-nav ul li a:hover {
  background: #098ead;
}
.desk-nav li:hover > ul {
  display: block;
  position: absolute;
}
.desk-nav li:hover li {
  float: none;
}
.desk-nav li:hover a {
  background: #098ead;
}
.desk-nav li:hover li a:hover {
  background: #ffffff;
  color: #f5811e;
}
.desk-nav .main-navigation li ul li {
  border-top: 0;
}
.desk-nav ul ul ul {
  position: absolute;
  width: 820px;
  heigth: 500px;
  left: 100%;
  top: 0;
  background-color: #098ead;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
.desk-nav ul ul ul a {
  width: 250px;
}
.desk-nav ul ul ul .lvl-3-title {
  font-weight: bold;
  color: #f5811e;
}
.desk-nav ul:before,
.desk-nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.desk-nav ul:after {
  clear: both;
}
.mob-nav {
  background-color: #f5811e;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.mob-nav .meniutext{
  font-size:1.5em;
  color:#666;
  
}
.mob-nav .ddsym {
  color: #666;
  font-size: 1.3em;
  cursor: pointer;
}
.top-bar-mob a {
  color: #098ead;
  font-size: 0.7em;
}
.mob-pills {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.mob-pills li > a {
  background-color: #098ead;
  color: #ffffff;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
.mob-pills li > a:active {
  background-color: #098ead;
  color: #ffffff;
}
.mob-pills-lvl-1 {
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.mob-pills-lvl-1 li > a {
  background-color: #f5811e;
  color: #ffffff;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
.mob-pills-lvl-1 li > a:active {
  background-color: #098ead;
  color: #ffffff;
}
.mob-pills-lvl-2 {
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.mob-pills-lvl-2 li > a {
  background-color: #ffffff;
  color: #f5811e;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 2px solid #f5811e;
}
.mob-pills-lvl-2 li > a:active {
  background-color: #098ead;
  color: #ffffff;
}
.mob-pills-lvl-3 {
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.mob-pills-lvl-3 li > a {
  background-color: #098ead;
  color: #ffffff;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
.mob-pills-lvl-3 li > a:active {
  background-color: #098ead;
  color: #ffffff;
}
#custom-search-input {
  margin: 10px 0 0;
  padding: 0;
}
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #098ead;
}
.search-query:focus + button {
  z-index: 3;
}
.content {
  margin-top: 10px;
}
.content .sidebar .sidebarpic{

}
.bunvenit{
	padding:0;
	margin-top:0;
	margin-bottom:0;
	display:block;	
	color:#098ead;
	text-align:center;
	text-shadow:1px -1px 1px #032e38;
}
.content .sidebar p{
	font-size:1.5em;
	color:#098ead;
	text-align:center;
}
.content .content-wrapper .bucket {
  border: 1px solid #ddd;
  float: left;
}
.content .content-wrapper .bucket .simbol{
  position:absolute;
  left:0;
  top:0;
  width:70px;
  height:70px;
}
.content .content-wrapper .bucket .simbol2{
  position:absolute;
  left:18%;
  top:40%;
  width:70px;
  height:70px;
  color:#fff;
  font-size:22px;
}
.content .content-wrapper .bucket .simbol img{
  width:70px;
  height:70px;
}

.content .content-wrapper .bucket .bucket-img {
  margin-top: 15px;
  margin-bottom: 15px;
}
.content .content-wrapper .bucket .bucket-title-div {
  height: 100px;
}
.content .content-wrapper .bucket .bucket-title-div .bucket-title {
  font-size: 1.1em;
  display: block;
  color: #098ead;
  text-align: center;
  text-decoration: none;
}
.content .content-wrapper .bucket .bucket-codprod,
.content .content-wrapper .bucket .bucket-qty-title {
  display: block;
  margin: 10px 0px;
  color: #098ead;
  font-weight: bold;
  text-align: center;
}
.bucket-qty-title-vp{
  display:block;
  color: #098ead;
  font-weight: bold;
  text-align: center;
}
.content .content-wrapper .bucket .bucket-price {
  color: #f5811e;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.content .content-wrapper .bucket .bucket-status {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
  text-align: center;
}
.content .content-wrapper .bucket .instoc {
  color: #78D985;
}
.content .content-wrapper .bucket .stocredus {
  color: #fff83d;
}
.content .content-wrapper .bucket .stocind {
  color: #ff5e5e;
}
.content .content-wrapper .bucket .incurand {
  color: #b868ff;
}
.instoc-vp {
  color: #78D985;
}
.stocredus-vp{
  color: #fff83d;
}
.stocind-vp {
  color: #ff5e5e;
}
.incurand-vp {
  color: #b868ff;
}
.instoc-vp,.stocredus-vp,.stocind-vp,.incurand-vp{
  text-align:center;
}

.content .content-wrapper .bucket .qtygroup .bgfirst {
  float: left;
}
.bucket-vp .qtygroup  .bgfirst {
  float: left;
}
.content .content-wrapper .bucket .qtygroup input {
  float: left;
}
.bucket-vp .qtygroup  input {
  float: left;
}
.content .content-wrapper .bucket .qtygroup .qty {
  width: 60px;
  text-align: center;
}
.bucket-vp .qtygroup  .qty {
  width: 60px;
  text-align: center;
}
.content .content-wrapper .bucket .qtygroup .plusmin {
  width: 40px;
}
.bucket-vp .qtygroup  .plusmin {
  width: 40px;
}
.atentie {
  margin-top: 10px;
  margin-bottom: 0;
  color:#fc3f3f;
  font-weight:bold;
}
.atentie h3 {
  text-align: center;
  margin-top: 0px;
}
.atentie h4 {
  text-align: center;
}
.editcont,
.istoric {
  font-size: 1em;
}
.mininav {
  margin-top: 10px;
}
.content {
  margin-top: 10px;
}
.content h4 {
  color: #f5811e;
}
.content .edcont {
  display: none;
}
.content .title-data {
  color: #098ead;
}
.content .date-pers,
.content .adresa-sed-soc,
.content .adresa-fac,
.content .detalii-comp,
.content .adresa-liv {
  padding-top: 50px;
  padding-bottom: 50px;
}
.content label {
  color: #098ead;
}
.content input {
  font-weight: bold;
}
table.fincom-prod th {
  padding: 5px 10px;
  border-bottom: 2px solid #098ead;
  color: #098ead;
  font-weight: 700;
}
table.fincom-prod td {
  padding: 5px 10px;
}
table.fincom-prod tr {
  border-bottom: 2px solid #ddd;
}
table.fincom-prod .c1 {
  width: 13%;
  text-align: center;
}
table.fincom-prod .c1 img {
  width: 120px;
}
table.fincom-prod .c2 {
  width: 48%;
}
table.fincom-prod .c3 {
  width: 9%;
}
table.fincom-prod .c4 {
  width: 12%;
  text-align: left;
}
table.fincom-prod .c4 .comqty {
  /*margin-top: 13px;*/
}
table.fincom-prod .c4 button,
table.fincom-prod .c4 input[type=text] {
  width: 40px; 
  display: inline-block;
}
table.fincom-prod .c4 input[type=text]{
  padding:0;
}
table.fincom-prod .c4 input[type=text] {
  text-align: center;
}
table.fincom-prod .c5 {
  width: 10%;
}
table.fincom-prod .c5 p{
  display:inline-block;
}
table.fincom-prod .c6 {
  width: 12%;
}
table.fincom-prod .c6 p{
  display:inline-block;
}
table.fincom-prod .c7 {
  width: 6%;
  text-align: left;
}
td.c7{
  margin-bottom:20px;
}
tr{
  margin-bottom:30px;
}
.fincom-price {
  float: right;
  margin: 20px 0 20px 0;
}
.fincom-price ul {
  list-style: none;
  float: left;
}
.fincom-price li {
  height: 30px;
  font-weight: 700;
}
.fincom-price ul.labels {
  color: #098ead;
}
.fincom-price ul.prices {
  color: #f5811e;
}
.fincom-price ul.prices p{
  display:inline-block;
}
.fincom-price .clear {
  clear: both;
}
.fincom-price .inapoicumpsus {
  float: right;
}
.fincom .date-pers,
.fincom .detalii-comp,
.fincom .adresa-sed-soc,
.fincom .adresa-fac,
.fincom .adresa-liv {
  padding: 40px;
}
.fincom .date-pers h4,
.fincom .detalii-comp h4,
.fincom .adresa-sed-soc h4,
.fincom .adresa-fac h4,
.fincom .adresa-liv h4 {
  border-bottom: 2px solid #f5811e;
  line-height: 40px;
}
.fincom .date-pers b.title-data,
.fincom .detalii-comp b.title-data,
.fincom .adresa-sed-soc b.title-data,
.fincom .adresa-fac b.title-data,
.fincom .adresa-liv b.title-data {
  line-height: 25px;
}
#contbanca1,
#contbanca2,
#contbanca3 {
  display: none;
}
.contbanca1,
.contbanca2,
.contbanca3 {
  margin:0;
}
.fincombut {
  float: right;
}
/*@media screen and (max-width: 600px) {

      table.fincom-prod {
      border: 0;

      thead {
        display: none;
      }

      tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
      }

      td {
        display: block;
        text-align: right !important;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
        width: 100% !important;
      }

      td:last-child {
        border-bottom: 0;
      }

      td:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        color: #098ead;
      }

    }
}*/
.istoric-table th {
  color: #098ead;
}
.istoric-table td {
  font-weight: bold;
}
.istoric-table td span {
  color: #f5811e;
}
.istoric-table td a {
  color: #000;
}
.istoric-table td a:hover {
  color: #098ead;
}
.contact input,
.contact textarea,
.contact label {
  margin-top: 10px;
}
.termcond {
  color: #fff;
  background-color: #f5811e;
  margin-top: 10px;
}
.footer-mob {
  margin-top: 10px;
  background-color: #f5811e;
  color: #098ead;
  font-weight: bold;
}
.footer-mob ul {
  list-style: none;
}
/* Larger than mobile */
@media (max-width: 320px) {
  /* Mob Nav */
  .top-bar-mob a {
    font-size: 0.6em;
  }
  .edsubmit{
	font-size:0.6em;
  }
  .mob-nav .ddsym {
    font-size: 1.8em;
  }
  .mob-pills li > a {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .mob-pills-lvl-1 li > a {
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .bucket .bucket-adauga {
    font-size: 0.8em;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .atentie-title {
    font-size: 0.9em;
  }
  .atentie-content {
    font-size: 0.9em;
    }
  .editcont,
  .istoric {
    font-size: 0.6em;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:1.5em;
    top:40%;
    left:25%; 
  }
  
  /* Mob Nav End */
}
@media (min-width: 321px) {
  .butvalid{
    margin-left:15%;
  }
  .edsubmit{
	font-size:0.6em;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .bucket .bucket-adauga {
    font-size: 0.8em;
  }
  .bucket .qtygroup {
    margin-left: 20%;
  }
  .bucket-vp .qtygroup {
    margin-left: 20%;
  }
  .atentie-title {
    font-size: 0.9em;
  }
  .atentie-content {
    font-size: 0.9em;
  }
  .editcont,
  .istoric {
    font-size: 0.6em;
  }
  .date-pers {
    border-top: 2px solid #ddd;
  }
  .detalii-comp {
    border-top: 2px solid #ddd;
  }
  .adresa-sed-soc {
    border-top: 2px solid #ddd;
  }
  .adresa-fac {
    border-top: 2px solid #ddd;
  }
  .adresa-liv {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
  }
  .date-pers {
    border-right: none;
  }
  .adresa-fac {
    border-left: none;
  }
  .adresa-liv {
    border-left: none;
  }
  .metliv,
  .tipfac {
    border-left: none;
  }
  .metplata,
  .metliv,
  .tipfac {
    border-bottom: 2px solid #ddd;
  }
  .mentiune {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
  }
  .final{
	border-bottom:2px solid #ddd;
  } 
  .fincombut{
	margin-bottom:10px;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2em;
    top:40%;
    left:25%; 
  }
  
}
@media (min-width: 400px) {
  /* Mob Nav */
  .butvalid{
    margin-left:60px;
  }
  .top-bar-mob a {
    font-size: 1em;
  }
  .mob-pills li > a {
    font-size: 1.3em;
  }
  .mob-pills-lvl-1 li > a {
    font-size: 1.3em;
  }
  .mob-nav .ddsym {
    font-size: 2em;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .bucket .bucket-adauga {
    font-size: 0.9em;
  }
  .bucket .qtygroup {
    margin-left: 30%;
  }
  .atentie-title {
    font-size: 1.1em;
  }
  .atentie-content {
    font-size: 0.9em;
  }
  .editcont,
  .istoric {
    font-size: 0.7em;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2.5em;
    top:40%;
    left:25%; 
  }
  /* Mob Nav End */
}
/* Larger than phablet */
@media (min-width: 550px) {
  /* Mob Nav */
  .butvalid{
    margin-left:180px;
  }
  .mob-pills li > a {
    font-size: 1.5em;
  }
  .mob-pills-lvl-1 li > a {
    font-size: 1.5em;
  }
  .mob-nav .ddsym {
    font-size: 2.6em;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .bucket .bucket-adauga {
    font-size: 1.2em;
  }
  .bucket .qtygroup {
    margin-left: 35%;
  }
  .atentie-title {
    font-size: 1.3em;
  }
  .atentie-content {
    font-size: 0.8em;
  }
  .editcont,
  .istoric {
    font-size: 0.8em;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2.5em;
    top:40%;
    left:25%; 
  }
  /* Mob Nav End */
}
@media (min-width:640px){
  .butvalid{
    margin-left:30%;
  }
  .edsubmit{
	font-size:1em;
  }
  .edsubmit span{
	margin:0 , 20px;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2.5em;
    top:40%;
    left:30%; 
  }
}
@media (min-width:736px){
  .pozaveziprodus .imgyes .vp{ 
    font-size:2.5em;
    top:40%;
    left:35%; 
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  /* Mob Nav */
  .butvalid{
    margin-left:30%;
  }
  .top-bar-mob a {
    font-size: 1.3em;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .bucket .bucket-adauga {
    font-size: 1.2em;
  }
  .bucket .qtygroup {
    margin-left: 30%;
  }
  .bucket-vp .qtygroup {
    margin-left: 35%;
  }
  .atentie-title {
    font-size: 1.5em;
  }
  .atentie-content {
    font-size: 1em;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2.5em;
    top:40%;
    left:25%; 
  }
  /*
/* Mob Nav End */
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .butvalid{
    margin-left:180px;
  }
  .edsubmit{
	font-size:1.5em;
  }
  .edsubmit span{
	margin:0 , 20px;
  }
  .caradd{
	font-size:0.8em;
  }
  .noucarimg{
	width:130px;
	height:100px;
  }
  .top-bar-desk {
    font-size: 0.8em;
  }
  .desk-nav {
    font-size: 0.9em;
  }
  .desk-nav ul ul ul {
    width: 610px;
  }
  .bucket .bucket-img {
    height: 180px;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 0.8em;
  }
  .bucket .bucket-adauga {
    font-size: 0.8em;
  }
  .bucket .qtygroup {
    margin-left: 25%;
  }
  .bucket-vp .qtygroup {
    margin:0;
  } 
  .date-pers {
    border-top: none;
  }
  .atentie-title {
    font-size: 1.7em;
  }
  .atentie-content {
    font-size: 1.2em;
  }
  .metliv,
  .tipfac {
    border-left: 2px solid #ddd;
  }
  .metplata,
  .metliv,
  .tipfac {
    border-bottom: none;
  }
  .adresa-liv {
    border-bottom: 2px solid #dddddd;
  }
  .mentiune {
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
  }
  .accept {
    border-top: 2px solid #ddd;
  }
  .metplata,
  .metliv,
  .tipfac {
    height: 350px;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:1.5em;
    top:40%;
    left:25%; 
  }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .butvalid{
    margin-left:180px;
  }
  .caradd{
	font-size:0.9em;
  }
  .noucarimg{
	width:140px;
	height:110px;
  }
  .top-bar-desk {
    font-size: 0.9em;
  }
  .desk-nav {
    font-size: 1.1em;
  }
  .desk-nav ul ul ul {
    width: 810px;
  }
  .bucket .bucket-img {
    height: 180px;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 1em;
  }
  .bucket .bucket-adauga {
    font-size: 0.8em;
  }
  .bucket .qtygroup {
    margin-left: 20%;
  }
  .atentie-title {
    font-size: 1.7em;
  }
  .atentie-content {
    font-size: 1.2em;
  }
  .editcont,
  .istoric {
    font-size: 1em;
  }
  .accept {
    border-top: 2px solid #ddd;
  }
  .mentiune {
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
	border-bottom:none;
  } 
  .date-pers {
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
  }
  .detalii-comp {
    border-top: 2px solid #ddd;
  }
  .adresa-sed-soc {
    border-top: 2px solid #ddd;
    border-right: none;
    border-bottom: 2px solid #ddd;
  }
  .adresa-fac {
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
  }
  .adresa-liv {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
  }
  .pozaveziprodus .imgyes .vp{ 
    font-size:2em;
    top:40%;
    left:25%; 
  }
}
@media (min-width: 1400px) {
  .bucket .bucket-img {
    height: 200px;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 1em;
  }
  .bucket .bucket-adauga {
    font-size: 0.9em;
  }
  .bucket .qtygroup {
    margin-left: 25%;
  }
}
@media (min-width: 1700px) {
  .caradd{
	font-size:1em;
  }
  .noucarimg{
	width:160px;
	height:120px;
  }
  .bucket .bucket-img {
    height: 255px;
  }
  .adauga-vp .bucket-adauga button{
	font-size: 1em;
  }
  .bucket .bucket-adauga {
    font-size: 1.1em;
  }
  .bucket .qtygroup {
    margin-left: 30%;
  }
  .date-pers,
  .adresa-sed-soc,
  .adresa-fac {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .detalii-comp {
    border-top: 1px solid #ddd;
  }
  .adresa-liv {
    border-top: 1px solid #ddd;
  }
  .adresa-sed-soc {
    border-top: 2px solid #ddd;
    border-right: none;
    border-bottom: 2px solid #ddd;
  }
  .adresa-fac {
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: none;
    border-bottom: 2px solid #ddd;
  }
  .adresa-liv {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
  }
  .date-pers,
  .detalii-comp {
    border-top: 2px solid #ddd;
  }
  .tipfac {
    border-bottom: none;
  }
  .atentie-title {
    font-size: 2em;
  }
  .atentie-content {
    font-size: 1.5em;
  }
}
@media (min-width: 1900px){
  .bucket .qtygroup {
    margin-left: 40%;
  }
}
@media (max-width: 750px) {
  table.fincom-prod {
    border: 0;
  }
  table.fincom-prod thead {
    display: none;
  }
  table.fincom-prod tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 5px solid #aeaeae;
  }
  table.fincom-prod td {
    display: block;
    text-align: right !important;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    width: 100% !important;
  }
  table.fincom-prod td:last-child {
    border-bottom: 0;
  }
  table.fincom-prod td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    color: #098ead;
  }
}


/*=========== home carousel layout =================*/

.noucar{
  background-color: #dee3e3;
  border:1px solid #dee3e3;   
}
.noucarimg{
  	
  border:1px solid #f5811e;
  /*width: 70%;
  height: 108px;*/
  display: block;
  margin:0 auto;
  margin-top:10px;
}
.cartit{
  width: 90%;
  height: 150px;
  display: block;
  margin:0 auto;
  
  color: #f5811e;
  text-align: center;
}
.carcod{
  width: 60%;
  display: block;
  margin:0 auto;
  color: #f5811e;
  text-align: center; 
}
.carpret{
  width: 70%;
  display: block;
  margin:0 auto;
  color: #098ead;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.carcos{
  width: 50%;
  display: block;
  margin:0 auto;
}
.carcos a{
  margin-bottom:10px;
}
.carcos .caradd{
  display:block;
  margin:0 auto;
  margin-bottom:10px;
}
.slick-prev:before, .slick-next:before { 
    color:#f5811e !important;
}
.cartitprez{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  color: #098ead;
  text-align: center;
  background-color: #d3dbdb;
  margin-bottom: 0px; 
}
/*=====================end home carousel=============*/
.pozaveziprodus{
  padding:0;
}
.pozaveziprodus img{
  padding:0;
}
.pozaveziprodus .imgyes{
  padding:0;
}
.pozaveziprodus .imgyes .vp{
  position:absolute;
  z-index:900;
  color:#f5811e;
  font-weight:bold;
  cursor:pointer;
}
.titluveziprodus{
}
.titluveziprodus .titlu-vp h3{
  font-weight:bold;
}
.titluveziprodus .detalii1{
}
.titluveziprodus .detalii2{
}
.titluveziprodus .detalii3{
}
.titluveziprodus .adauga-vp{
}
.adauga-vp h4{
	text-align:center;
}
.adauga-vp h5{
	font-weight:bold;
	text-align:center;
}
.descriere{
	border:2px solid #ddd;
	margin-top:10px;
	margin-bottom:10px;
}
.descriere h4{
  text-align:center;
  color:#098ead;
}
.culoare , .dimensiune , .tipamb,{
	border-top:1px solid #f5811e;
}
.adauga-vp .bucket-adauga button{
	display:block;
	margin:0 auto;	
}
.bprod{color:#098ead;}
.dispprod b{color:#098ead;}
.disps{
  background-color:#098ead;
  color:#fff;
}
.dettx,.ctext,.dtext,.ttext,.atext{
	color:#f5811e;
	font-weight:bold;
}
.mod-img{display:block;margin:0 auto;}
.modh-img{
}
.footer-desk{
  margin-top:10px;
}
.mentiune textarea{resize:none;}


.okedit, .noedit{
  display:inline-block;	
  margin-left:20px;
}
.tercon > label > a{
	color:#f74747;
}
.imgyes{
/*	cursor:pointer;*/
	border:1px solid #f5811e;
	border-radius:6px;
}
.vezipozecar {
	padding:0;
}
.vezipozecar img{
	margin-left:5px;
}
.picslider img{
/*	cursor:pointer;*/
	border:1px solid #ddd;
}
