
.register-suc{
  text-align:center;
}
.alert h3{
   margin-top:10px;
   text-align:center;
}
.alert p{
  font-size:1em;
  text-align:center;
}
.well{
  padding:5px;
  text-align:center;
}
.pozetech{margin-top:10px;}
.success-verde span{
  left:48%;
  font-size:1.5em;
}
#pj .facSameSoc{
	margin:0px;
}
#pj .livSameFac{
	margin:0px;
}
@media (min-width: 240px) {
  .btn{font-size:0.7em;}
.alert p{font-size:0.8em;}
.well strong p{font-size:0.8em;}
textarea{font-size:0.8em;}
}

@media (min-width: 321px) {
  .btn{font-size:0.7em;}
.alert p{font-size:0.8em;}
.well strong p{font-size:0.8em;}
}

@media (min-width: 400px) {
  .btn{font-size:0.9em;}
.alert p{font-size:0.9em;}
.well strong p{font-size:0.9em;}
}

@media (min-width: 550px) {
  .btn{font-size:0.9em;}
.alert p{font-size:0.9em;}
.well strong p{font-size:0.9em;}
}

@media (min-width: 750px) {
  .btn{font-size:0.9em;}
.alert p{font-size:0.9em;}
.well strong p{font-size:0.9em;}
}

@media (min-width: 1000px) {
  .btn{font-size:1em;}
.alert p{font-size:1em;}
.well strong p{font-size:1em;}
}

@media (min-width: 1200px) {
  .btn{font-size:1em;}
  .alert p{font-size:1em;}	

.well strong p{font-size:1em;}
}
